<script type="text/javascript">
function dragstart(event) {
  event.dataTransfer.setData("text", event.target.id);
}
</script>
<% @schedules.each.with_index do |schedule, index| %>
  <div id="schedule<%= index %>" draggable="true" ondragstart="dragstart(event);" style="cursor: move"><%= schedule.start_at %>, <%= schedule.end_at %>, <%= schedule.title %></div>
<% end %>
